$theme-color: 		#8CCA4F;
$image-theme-path-base: '../../../images/';
$base-theme-image-path:'../../../images/';
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../../fonts/';

$link-hover-color:      #8CCA4F;
$brand-primary:    #8CCA4F;